@inherits StationComponentBase

<div class="stripe">
    <div class="stripe-icon" id="light"></div>
    <span class="stripe-text">
        <span class="stripe-text-label">Light:</span>
        <span class="stripe-text-value">@(this.Value.ToString("0.00")) lux</span>
    </span>
</div>