@page "/station"
@using NavratHUB.Data.Storage
@inject Storage storage

<div class="station">
    <div class="station-overlay">
        <Temperature Value=this.storage.Station.Temperature></Temperature>

        <div class="station-rows">
            <Humidity Value=this.storage.Station.Humidity></Humidity>
            <hr>
            <Light Value=this.storage.Station.Light></Light>
            <hr>
            <Voltage Value=this.storage.Station.Voltage></Voltage>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        this.storage.DataReceived += async (o, e) => {
            await this.InvokeAsync(() => {
                this.StateHasChanged();
            });
        };
    }
}