@page "/station"
@using NavratHUB.Data.Storage
@inject Storage storage

<h1>Weather station</h1>
<Temperature Value=this.storage.Station.Temperature></Temperature>
<Humidity Value=this.storage.Station.Humidity></Humidity>

@code {
    protected override void OnInitialized()
    {
        this.storage.DataReceived += async (o, e) => {
            await this.InvokeAsync(() => {
                this.StateHasChanged();
            });
        };
    }
}